@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&family=Poppins:wght@400;700&display=swap');

.section-heading {
    color: red;
    font-family: 'Abhaya Libre', serif;
}

.product {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 430px;
    /* background: cyan; */
    position: relative;
}

.product .rating {
    color: red;
    font-size: 15px;
}

.product .rating .icon {
    height: 15px;
    width: 15px;
}

.product img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.add-cart-btn {
    background-color: #EA0000;
    width: 100%;
    height: 40px;
    border-radius: 18% 82% 18% 82% / 100% 0% 100% 0%;
    box-shadow: 0px 50px 100px 1px #EA0000;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}